$Very-Dark-Blue: hsl(235, 21%, 11%);
$Very-Dark-Desaturate-Blue: hsl(235, 24%, 19%);
$Light-Grayish-Blue: hsl(234, 39%, 85%);
$Light-Grayish-Blue-hover-: hsl(236, 33%, 92%);
$Dark-Grayish-Blue: hsl(234, 11%, 52%);
$Very-Dark-Grayish-Blue-light: hsl(233, 14%, 35%);
$Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);


$font-color: $Light-Grayish-Blue;

$background-color: $Very-Dark-Blue;
$task-bg: $Very-Dark-Desaturate-Blue;
$task-border: $Very-Dark-Grayish-Blue;


// Images
$background-header-image: '../images/bg-desktop-dark.jpg';

@import '../main.scss'