.dark_theme {
    --heading-color: white;
    --font-color: var(--Light-Grayish-Blue);
    
    --background-color: var(--Very-Dark-Blue);
    --task-bg: var(--Very-Dark-Desaturate-Blue);
    --task-border: var(--Very-Dark-Grayish-Blue);
    --inactive-text: var(--Dark-Grayish-Blue);
    --active-filter: var(--Bright-Blue);
    
    --shadow-color: var(--Very-Dark-Blue);
    --dragtextcolor: var(--Dark-Grayish-Blue);
    --background-header-image: url('../images/bg-desktop-dark.jpg');
}
