.light_theme {
    --heading-color: white;
    --font-color: var(--Dark-Grayish-Blue);
    
    --background-color: #fafafa;
    --task-bg: white;
    --task-border: var(--Light-Grayish-Blue);
    --inactive-text: var(--Light-Grayish-Blue);
    --active-filter: var(--Bright-Blue);
    
    --shadow-color: var(--Light-Grayish-Blue);
    --dragtextcolor: var(--Dark-Grayish-Blue);
    
    
    // Images
    --background-header-image: url('../images/bg-desktop-light.jpg');    
}