@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;700&display=swap");
:root, * {
  margin: 0;
  padding: 0;
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturate-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover-: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue-light: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
  --Bright-Blue: hsl(220, 98%, 61%); }

body {
  background-color: var(--background-color); }

.background-header {
  background-color: pink;
  background-image: var(--background-header-image);
  position: absolute;
  z-index: -1;
  width: 100%;
  background-repeat: no-repeat;
  height: 250px;
  background-size: cover;
  top: 0; }

.grid-container {
  display: grid;
  margin: auto;
  width: 550px;
  max-width: 1440px;
  margin: 4% auto 0; }

@media (max-width: 550px) {
  .grid-container {
    display: grid;
    margin: 4% auto 0;
    width: 90%;
    max-width: 1440px;
    position: absolute; } }

@media (max-width: 768px) {
  .grid-container {
    display: grid;
    margin: auto;
    width: 90%;
    max-width: 1440px;
    position: absolute;
    left: 5%;
    margin-top: 5%; } }

.grid-row {
  width: 100%;
  display: flex; }

.book-ends {
  justify-content: space-between; }

.task-input {
  width: 100%;
  height: 3.5rem;
  border-radius: 4px;
  border: 0;
  padding: 0 15px;
  background-color: var(--task-bg);
  display: flex;
  align-items: center;
  box-shadow: 0px 6px 8px 0 #1d1d1d23; }
  .task-input:active, .task-input:focus-visible {
    border: 0;
    outline: 0; }
  .task-input span {
    height: 20px;
    width: 20px;
    display: inline-flex;
    border-radius: 50%;
    border: 1px solid var(--task-border);
    padding: 0;
    margin-right: 10px; }
  .task-input input {
    color: var(--font-color);
    font-family: 'Josefin Sans';
    font-size: 1.3rem;
    background-color: transparent;
    width: 100%;
    border: 0;
    height: 100%; }
    .task-input input:focus-visible {
      outline: none; }

.theme-container {
  position: relative;
  left: -25px; }

.theme-icon {
  position: absolute; }

body {
  color: var(--font-color);
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400; }

.main-heading {
  color: var(--heading-color);
  font-size: 2.5rem;
  letter-spacing: 10px;
  margin-bottom: 10px; }

.action-bar {
  border-radius: 0 0 4px 4px; }
  .action-bar div {
    color: var(--inactive-text);
    font-size: 1rem; }

#actionBar {
  border-bottom: 0; }

.main-filters {
  width: 30%;
  justify-content: space-between;
  display: flex; }
  .main-filters span:hover {
    color: var(--font-color); }

@media (max-width: 550px) {
  .main-filters {
    width: 40%;
    justify-content: space-between;
    display: flex; } }

.active-filter {
  color: var(--active-filter); }

.clear-completed span:hover {
  color: var(--font-color); }

.drag-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  font-size: 0.8rem;
  color: var(--dragtextcolor); }

.task-list {
  list-style: none; }
  .task-list li:first-child .task-container {
    border-radius: 4px 4px 0 0; }

.task-container {
  height: 3.1rem;
  border-bottom: 1px solid var(--task-border);
  padding: 0 15px;
  background-color: var(--task-bg);
  color: var(--font-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 6px 8px 0 var(--shadow-color); }
  .task-container:hover > .delete-icon {
    opacity: 1;
    transition: 0.2s; }

.checkmark-container {
  position: absolute;
  left: -9999px; }
  .checkmark-container ~ label {
    height: 20px;
    width: 20px;
    display: flex;
    border-radius: 50%;
    border: 1px solid var(--task-border);
    padding: 0;
    margin-right: 10px; }
    .checkmark-container ~ label:hover {
      cursor: pointer; }
  .checkmark-container:checked ~ label {
    background-image: url("../images/icon-check.svg"), linear-gradient(#57ddff, #c058f3);
    background-position: middle middle, left top;
    background-repeat: no-repeat;
    background-position: center; }
  .checkmark-container:checked ~ .task-description {
    text-decoration: line-through;
    color: var(--inactive-text); }

.task-description {
  height: 100%;
  display: flex;
  align-items: center;
  width: 90%;
  font-size: 1.3rem; }

.delete-icon {
  display: flex;
  height: 18px;
  width: 18px;
  background-image: url("../images/icon-cross.svg");
  background-repeat: no-repeat;
  margin-left: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-position: center;
  opacity: 0; }

.dark_theme {
  --heading-color: white;
  --font-color: var(--Light-Grayish-Blue);
  --background-color: var(--Very-Dark-Blue);
  --task-bg: var(--Very-Dark-Desaturate-Blue);
  --task-border: var(--Very-Dark-Grayish-Blue);
  --inactive-text: var(--Dark-Grayish-Blue);
  --active-filter: var(--Bright-Blue);
  --shadow-color: var(--Very-Dark-Blue);
  --dragtextcolor: var(--Dark-Grayish-Blue);
  --background-header-image: url('../images/bg-desktop-dark.jpg'); }

.light_theme {
  --heading-color: white;
  --font-color: var(--Dark-Grayish-Blue);
  --background-color: #fafafa;
  --task-bg: white;
  --task-border: var(--Light-Grayish-Blue);
  --inactive-text: var(--Light-Grayish-Blue);
  --active-filter: var(--Bright-Blue);
  --shadow-color: var(--Light-Grayish-Blue);
  --dragtextcolor: var(--Dark-Grayish-Blue);
  --background-header-image: url('../images/bg-desktop-light.jpg'); }

.mt-sm {
  margin-top: 5px; }

.mt-md {
  margin-top: 20px; }

.mt-lg {
  margin-top: 50px; }
