.action-bar {
    border-radius: 0 0 4px 4px;
    

    & div{
    color: $inactive-text;
    font-size: 1rem;
    }
}

#actionBar {
    border-bottom: 0; 
}

.main-filters {
    width: 30%;
    justify-content: space-between;
    display: flex;

    & span:hover {
        color:$font-color;
    }
}

@media (max-width:550px){
    .main-filters {
        width: 40%;
        justify-content: space-between;
        display: flex;
    }
    
}

.active-filter {
    color: $active-filter;
}

.clear-completed{
    
    & span:hover {
        color: $font-color;
    }
}

.drag-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    font-size: 0.8rem;
    color: $dragtextcolor;
}